body, input, button, select {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
  background-color: #333;
  overflow: hidden;
}

/*  ------------------------------------  ///
///               FORMULARIO              /// 
/// ------------------------------------   */


.container {
  max-width: 960px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #555; /* Agrega un borde para un look más definido */
}

header, footer {
  text-align: center;
  margin-bottom: 20px;
}

.input-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

input[type="text"], select {
  flex-grow: 1;
  padding: 10px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  background-color: #555;
}

button, input[type=submit] {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007BFF;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover, input[type=submit] {
  background-color: #0056b3;
}

input[type=submit]:disabled
{
  /* background-color: rgb(0,0,0, .5); */
  filter: saturate(15%);
}

footer {
  margin-top: 20px;
}

.checkbox-group {
  display: flex;
  align-items: center;
}

.checkbox-group label {
  margin-left: 8px;
}

form {
  display: flex;
  flex-direction: column;
}

.python-output
{
  border: 2px solid #6e6e6e;
  border-radius: 5px;
  padding: 5px 20px;
  margin-bottom: 20px;
}

.python-output > div 
{
  overflow-y: scroll;
  max-height: 200px;
}

.python-output > p
{
  font-weight: bold;
}

.python-output p
{
  font-size: 11px;
}


/*  ------------------------------------  ///
///                  MODAL                /// 
/// ------------------------------------   */

/* FONDO POLITAK: https://gradients.shecodes.io/gradients/179 */

dialog {
	padding: 0px;
    background: white;
    max-width: 700px;
    width: 700px;
    border-radius: 10px;
    border: 0;
    box-shadow: 0 -2px 30px 0 rgb(50 166 227 / 19%), 2px 5px 6px 3px rgb(0 0 0 / 16%);
    animation: zoomIn 0.5s ease both;
}

dialog::backdrop {
	animation: fadeIn 0.8s ease both;
	background: rgba(0, 0, 0, 0.4);
	z-index: 2;
	backdrop-filter: blur(5px);
	cursor: pointer;
}

dialog div 
{
	padding-top: 2rem;
	padding: 20px;
	/* background: linear-gradient(189deg, #3cb5ef, #314755); */
}

dialog input 
{
	width: 80%;
}

.x {
	filter: grayscale(1);
	border: none;
	background: none;
	position: absolute;
	top: 15px;
	right: 10px;
	transition: ease filter, transform 0.3s;
	cursor: pointer;
	transform-origin: center;
	
}

.x:hover {
	filter: grayscale(0);
	transform: scale(1.1);
}

dialog h2 {
	font-weight: 600;
	font-size: 2rem;
	padding-bottom: 1rem;
	margin: 0px;
}

@keyframes zoomIn {
	from {
		opacity: 0;
		transform: scale(0%);
	}
	to {
		opacity: 1;
		transform: scale(100%);
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
